NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDQRgHhjhKEFzFJtV8ns-sfLntpsY184LA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=creator-digital-e8115.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=creator-digital-e8115
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=creator-digital-e8115.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=110761343063
NEXT_PUBLIC_FIREBASE_APP_ID=1:110761343063:web:04ce7b5108f5f044734b12

FIREBASE_ADMIN_PROJECT_ID=creator-digital-e8115
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk-fbsvc@creator-digital-e8115.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="isi-nanti-langsung-di-env-lokal-jangan-taruh-di-github"

MIDTRANS_SERVER_KEY=isi-nanti
MIDTRANS_CLIENT_KEY=isi-nanti
MIDTRANS_IS_PRODUCTION=false

GEMINI_API_KEY=isi-nanti

NEXT_PUBLIC_SITE_URL=http://localhost:3000
